[submodule "libs/CherryUSB"]
	path = libs/CherryUSB
	url = https://github.com/cherry-embedded/CherryUSB.git
[submodule "libs/CherryRB"]
	path = libs/CherryRB
	url = git@github.com:cherry-embedded/CherryRB.git
[submodule "libs/CherryDAP"]
	path = libs/CherryDAP
	url = https://github.com/cherry-embedded/CherryDAP.git
